<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.milapnaik.tradermathtest"
    android:versionCode="2"
    android:versionName="1.1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Trader Math Test"
        android:supportsRtl="true">


        <activity
            android:name="com.milapnaik.tradermathtest.Splash"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.milapnaik.tradermathtest.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.milapnaik.tradermathtest.Info"
            android:parentActivityName="com.milapnaik.tradermathtest.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.milapnaik.tradermathtest.MainActivity" />
        </activity>

        <activity
            android:name="com.milapnaik.tradermathtest.Settings"
            android:parentActivityName="com.milapnaik.tradermathtest.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.milapnaik.tradermathtest.MainActivity" />
        </activity>

        <activity
            android:name="com.milapnaik.tradermathtest.CountDown"
            android:parentActivityName="com.milapnaik.tradermathtest.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.milapnaik.tradermathtest.MainActivity" />
        </activity>

        <activity
            android:name="com.milapnaik.tradermathtest.PracticeOrTest"
            android:parentActivityName="com.milapnaik.tradermathtest.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.milapnaik.tradermathtest.MainActivity" />
        </activity>

        <activity
            android:name="com.milapnaik.tradermathtest.MathTest"
            android:parentActivityName="com.milapnaik.tradermathtest.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.milapnaik.tradermathtest.MainActivity" />
        </activity>

        <activity
            android:name="com.milapnaik.tradermathtest.MathPractice"
            android:parentActivityName="com.milapnaik.tradermathtest.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.milapnaik.tradermathtest.MainActivity" />
        </activity>

        <activity
            android:name="com.milapnaik.tradermathtest.SeqTest"
            android:parentActivityName="com.milapnaik.tradermathtest.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.milapnaik.tradermathtest.MainActivity" />
        </activity>

        <activity
            android:name="com.milapnaik.tradermathtest.SeqPractice"
            android:parentActivityName="com.milapnaik.tradermathtest.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.milapnaik.tradermathtest.MainActivity" />
        </activity>


        <activity
            android:name="com.milapnaik.tradermathtest.FinishTest"
            android:parentActivityName="com.milapnaik.tradermathtest.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.milapnaik.tradermathtest.MainActivity" />
        </activity>

    </application>
</manifest>
